$dark-1: #222831;
$dark-2: #393e46;
$light-1: #eeeeee;
$light-2: #ffd369;
$font-small: 12px;
$font-medium: 16px;
$font-large: 20px;
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-large: 700;
$margin-small: 20px;
$margin-medium: 40px;
$margin-large: 60px;
